<section class="ae-container-fluid rk-main">
    <input type="radio" name="layout-ctrl" checked id="layout-base" class="layout-ctrl-input">
    <section class="ae-container-fluid ae-container-fluid--inner loading rk-portfolio ">

        <div class="rk-portfolio__items">

            <div class="rk-items-cont rk-size-6 rk-tosize-8">
                <a routerLink="/PlantaA" class="rk-item ae-masonry__item"><img src="assets/img/23.jpg">

                    <div class="item-meta">
                        <h2>Planta 1</h2>
                        <p>Informacion</p>
                    </div>
                </a>
            </div>

            <div class="rk-items-cont rk-size-6 rk-tosize-8">
                <a routerLink="/PlantaB" class="rk-item ae-masonry__item"><img src="assets/img/23.jpg">
                    <div class="item-meta">
                        <h2>Planta 2</h2>
                        <p>Informacion</p>
                    </div>
                </a>
            </div>

        </div>
    </section>
</section>