<p class="letras"><a>Selecciona La Parte donde Quieras empezar<span class="arrow-cont"></span>


<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio rk-main">
    <div class="rk-portfolio__items">

        <div class="rk-items-cont rk-size-4 rk-tosize-6">
            <a routerLink="/ContPlantaA" class="rk-item ae-masonry__item"><img src="assets/img/FondoReal.jpg">
                <div class="item-meta">
                    <h2>Parte A</h2>
                   
                </div>
            </a>
    </div>

    <div class="rk-items-cont rk-size-4 rk-tosize-6">
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/FondoReal.jpg">
            <div class="item-meta">
                <h2>Parte B</h2>

            </div>
        </a>
    </div>

    <div class="rk-items-cont rk-size-4 rk-tosize-6">
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/FondoReal.jpg">
            <div class="item-meta">
                <h2>Parte C</h2>

            </div>
        </a>
    </div>
    </div>
    </section>